<!DOCTYPE html>
<html>
<head>
    <style>
        .body {
            font-size: 1em;
        }

        .main {
            padding-left: 16px;
            padding-right: 16px;
            display: block;
        }

        .col1 {
            font-weight: bold;
            width: 30%;
        }

        .col2 {
            width: 70%;
        }

        .datatable {
            margin-top: 16px;
            width: 100%;
            border: 1px solid #00000;
        }
    </style>
</head>
<body>
    <div class="main">
        <p>Dear Investor,</p>
        <p>
            Thank you for choosing Pak Qatar Asset Management Company Ltd. as your preferred financial advisor. Your investment request has been received and is under process. Your account statement will be shared on your email address within the next 3 working days.

            We strive to provide the best quality services to our investors and hope that journey with PQMACL will be most enriching. If you have any queries please feel free to contact us on the numbers given below.
        </p>       
        <p>
            For information regarding <b>PQAMCL</b> products:
       <ul>
                <li>Call us at <b> 111-PQAMC (772 625) </b> or</li>
                <li>email at <b>info@pqamcl.com</b> or</li>
                <li>Visit our website <b>www.pqamcl.com</b> or</li>
                <li>Visit us at our Head Office address below</li>
       </ul>           
        </p>        
        
        <p><b>Head Office:</b></p>
        <p>Suite # G-8/9, Ground Floor,</p>
        <p>Business Arcade, Block-6, P.E.C.H.S,</p>
        <p>Shahrah-e-Faisal, Karachi-75400.</p>

        <p><b>Downloads:</b></p>
        <p><a href="https://pqamcl.com/download-2/fund-manager-reports/" target="_blank">Fund Manager's Report</a></p>
        <p><a href="https://pqamcl.com/application-forms/" target="_blank">Forms</a></p>
        <p><a href="https://pqamcl.com/funds-prices/" target="_blank">NAV History</a></p>
        <p>Regards,</p>
        <p>PQAMCL Team</p>
    </div>
</body>
</html>
