@model PQAMCAPI.Models.UserApplicationDiscrepancy

<!DOCTYPE html>
<html>
<head>
    <style>
        .body {
            font-size: 1em;
        }

        .main {
            padding-left: 16px;
            padding-right: 16px;
            display: block;
        }

        .col1 {
            font-weight: bold;
            width: 30%;
        }

        .col2 {
            width: 70%;
        }

        .datatable {
            margin-top: 16px;
            width: 100%;
            border: 1px solid #00000;
        }
    </style>
</head>
<body>
    <div class="main">
        <p>Dear User</p>
        <p>Your PQAMC account application requires to reenter/update data into following fields:</p>
        <p><b>@Model.DiscrepantFields</b></p>
        <p>Please login to PQAMC app to update the specified information</p>
    </div>
</body>
</html>
