<!DOCTYPE html>
<html>
<head>
    <style>
        .body {
            font-size: 1em;
        }

        .main {
            padding-left: 16px;
            padding-right: 16px;
            display: block;
        }

        .col1 {
            font-weight: bold;
            width: 30%;
        }

        .col2 {
            width: 70%;
        }

        .datatable {
            margin-top: 16px;
            width: 100%;
            border: 1px solid #00000;
        }
    </style>
</head>
<body>
    <div class="main">
        <p>Dear Investor,</p>
        <p>
            Thank you for completing your onboarding process. Your application is in process, this usually 
            takes upto 2 working days. In case of any discrepancy you will be notified through email and in 
            some cases our representative may contact you on your provided cell no. Once your details 
            are verified you will be able to invest in your account.
        </p>               
        <p>
            For information regarding <b>PQAMCL</b> products:
            <ul>
                <li>Call us at <b> 111-PQAMC (772 625) </b> or</li>
                <li>email at <a href="mailto:info@pqamcl.com"> <b>info@pqamcl.com</b></a> or</li>
                <li>Visit our website <a href="https://pqamcl.com/application-forms/" target="_blank"><b>www.pqamcl.com</b></a> or</li>
                <li>Visit us at our Head Office address below</li>
            </ul>
        </p>
        <p><b>Head Office:</b></p>
        <p>Suite # G-8/9, Ground Floor,</p>
        <p>Business Arcade, Block-6, P.E.C.H.S,</p>
        <p>Shahrah-e-Faisal, Karachi-75400.</p>

        <p><b>Downloads:</b></p>
        <p><a href="https://pqamcl.com/download-2/fund-manager-reports/" target="_blank">Fund Manager's Report</a></p>
        <p><a href="https://pqamcl.com/application-forms/" target="_blank">Forms</a></p>
        <p><a href="https://pqamcl.com/funds-prices/" target="_blank">NAV History</a></p>
        <p>Regards,</p>
        <p>PQAMCL Team</p>
    </div>
</body>
</html>
